

<template>
	<div id="app">
		<router-view/>
		<vue-progress-bar></vue-progress-bar>
	</div>
</template>

<script>
	export default {
		name: "App",
		mounted: function(){
			console.log("App: Init!");

			this.$Progress.finish();
		},
		created: function(){
			//	[App.vue specific] When App.vue is first loaded start the progress bar
			this.$Progress.start();
			//	hook the progress bar to start before we move router-view
			this.$router.beforeEach((to, from, next) => {
				//	does the page we want to go to have a meta.progress object
				if (to.meta.progress !== undefined) {
					let meta = to.meta.progress;
					// parse meta tags
					this.$Progress.parseMeta(meta);
				}
				this.$Progress.start();
				next();
			});
			//	hook the progress bar to finish after we've finished moving router-view
			this.$router.afterEach((to, from) => { this.$Progress.finish(); });
		}
	}
</script>

<style scoped></style>
