

<template>
	<div id="dashboard">

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="javascript:">FastCars Drivethru</a>
		</nav>

		<div class="container">
			<div class="row mt-5">
				<div class="col col-sm-6 col-md-3">
					<button class="btn btn-danger btn-lg" v-on:click="logout()"><span class="fas fa-sign-out-alt fa-lg"></span></button>
					<button class="btn btn-warning btn-lg float-right ml-2" v-on:click="download()"><span class="fas fa-download fa-lg"></span></button>
					<button class="btn btn-success btn-lg float-right ml-2" v-on:click="refresh()"><span class="fas fa-sync fa-lg"></span></button>
					<button class="btn btn-success btn-lg float-right ml-2" v-on:click="refresh()"><span class="fas fa-map-marker fa-lg"></span></button>
				</div>
				<div class="col col-sm-6 col-md-3">
					<input type="date" class="form-control form-control-lg date-filter" v-model="date">
				</div>
				<div class="col col-sm-12 col-md-6">
					<div class="input-group input-group-lg mb-3">
						<input type="text" class="form-control" placeholder="Find Tracker">
						<div class="input-group-append">
							<button class="btn btn-primary"><small><span class="fas fa-search mr-2"></span>Search</small></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row mt-5" v-if="!loading">
				<div class="col-12">
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Tracker ID</th>
								<th scope="col">Tramigo Name</th>
								<th scope="col">Device Group</th>
								<th scope="col">Tracker Status</th>
								<th scope="col">Movement Status</th>
								<th scope="col">First Location</th>
								<th scope="col">Last Location</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="nth in trackerList">
								<td><button class="btn btn-info btn-sm" v-on:click="_listTracks(nth['id']);"><span class="fas fa-map-marker"></span></button></td>
								<td>{{ nth["label"] }}</td>
								<td>{{ nth["id"] }}</td>
								<td>{{ _group(nth["group_id"]) }}</td>
								<td>{{ _connection(nth["id"]) }}</td>
								<td>{{ _movement(nth["id"]) }}</td>
								<td>
									<span class="d-block">{{ _firstAddress(nth["id"]) }}</span>
									<span class="d-block text-muted">{{ _firstDate(nth["id"]) }}</span>
								</td>
								<td>
									<span class="d-block">{{ _lastAddress(nth["id"]) }}</span>
									<span class="d-block text-muted">{{ _lastDate(nth["id"]) }}</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row justify-content-center mt-5" v-if="loading">
				<spring-spinner :animation-duration="2500" :size="60" color="#15628E"/>
			</div>
		</div>

	</div>
</template>


<style scoped src="./index.css"></style>


<script type="text/javascript">
	import vue from "./index.js";
	export { vue as default }
</script>