

<template>

	<div class="card">
		<div class="card-body p-5">
			<h1 class="card-title text-center font-weight-bold mb-5">FastCars Drivethru</h1>

			<form v-on:submit.prevent="_securedLogin();" v-if="!forced && !loading">
				<label>Email:</label>
				<input type="email" class="form-control form-control-lg mb-4" placeholder="johnDoe@email.com" v-model="uname" required>

				<label>Password:</label>
				<input type="password" class="form-control form-control-lg mb-4" placeholder="********" v-model="pass" required>

				<button class="btn btn-primary btn-lg btn-block py-3 mt-5"><h5 class="p-0 m-0">Login</h5></button>
			</form>

			<form v-on:submit.prevent="_forcedLogin();" v-else-if="!loading">
				<label>Secure Token:</label>
				<input type="text" class="form-control form-control-lg mb-4" v-model="hash" required>

				<button class="btn btn-primary btn-lg btn-block py-3 mt-5"><h5 class="p-0 m-0">Login</h5></button>
			</form>

			<div class="row justify-content-center" v-if="loading">
				<spring-spinner :animation-duration="2500" :size="60" color="#15628E"/>
			</div>
		</div>
	</div>

</template>


<style scoped src="./index.css"></style>


<script type="text/javascript" src="./index.js"></script>